.DS_Store
.history

target
logs
docker.log
RUNNING_PID
app-2.10
app-2.11
npm-debug.log

# IntelliJ
.idea/
.idea_modules/

# eclipse
.classpath
.project
.scala_dependencies
.settings
.buildpath
.target

# Atom
config.json

# temp file
.~*
*~
*.orig
DWTODO

.ensime_cache